<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<header>
    <h1>Tourist Guide</h1>
    <p>Explore and discover exciting tourist attractions!</p>
</header>

<section>
    <h2>About</h2>
    <p>Describe the tourist guide and its purpose. Include target audience information.</p>
</section>

<section>
    <h2>Selected Tourist Attractions</h2>
    <ul id="attraction-list">

        <li><a href="/attraction-1">Attraction 1</a></li>
        <li><a href="/attraction-2">Attraction 2</a></li>

    </ul>
</section>

<section>
    <h2>Endpoints</h2>
    <ul id="endpoints-list">
        <li><a href="http://localhost:8080/attractions">All Attractions</a></li>
        <li><a href="http://localhost:8080/attractions/{attractionName}">Single Attraction</a></li>

    </ul>
</section>

<footer>
    <p>Contact us: CustomerService@email.com</p>
</footer>
</body>

</html>
